body{
  font-family: "Helvetica";
  background-color: #f2f2f2
}
.title{
  font-size:22px;
  line-height:25px;
  text-align:center;
}
#box-right{
  width:530px;
}
.c-headline__title {
  font-size:1em;
  line-height:1.22
}
.c-headline--horizontal-small {
  margin-bottom:1.111em;
}
.c-headline--horizontal-small .c-headline__title {
  font-size:16px;
  line-height:20px;
}
.c-headline__title > a {
  color: inherit;
  text-decoration: none;
}
.c-newslist {
  list-style:none;
}
.c-newslist > li {
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-color:#e0e0e0;
  margin-bottom:1.111em
}

/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
}

/* columns */
.container > * {
  padding:1rem;
}

.header-container {
  padding-left:3.25em;
  padding-right:3.25em;
}
.header-container > * {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.header-end {
  text-align:right;
  font-size:22px;
  line-height:25px;
  padding:15px;
  cursor: pointer;
}
.header-start {
  display: grid;
  grid-template-columns: 50px 50px;
}

#settings-icon, #reload-icon {
  cursor: pointer;
}
